:host {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  padding: 20px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: #faf8ff;
  font-family: 'Poppins', sans-serif;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-wrapper {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

form input:focus {
  border-color: #7c3bed;
  box-shadow: 0 0 0 2px rgba(124, 59, 237, 0.2);
}

.button {
  background-color: #7c3bed;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover:not(:disabled) {
  background-color: #682dd6;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
  margin: 0px 20px;
}

.back-button:hover {
  color: #7c3bed;
  transform: scale(1.1);
}

.back-button i {
  pointer-events: none;
}
