<div class="users-container">
  <header>
    <div class="header-container">
      <div class="user-header">
        <img
          (click)="redirectAtUserInformation()"
          [src]="loggedUser?.presignedUrl ? loggedUser?.presignedUrl : 'https://st2.depositphotos.com/9447932/47520/v/450/depositphotos_475203180-stock-illustration-cow-vector-illustration-flat-style.jpg'"
          alt="Foto de perfil"
          class="profile-img"
        >
        <h1>Bienvenido {{ loggedUser?.username}}</h1>
      </div>
      <input type="text" placeholder="Buscar usuario...">
    </div>
  </header>

  <div class="user-card-container">
    @for (user of users; track user.id) {
      <div class="user-card" (click)="openChat(user)">
        <div class="user-img">
          <img
            [src]="user.presignedUrl ? user?.presignedUrl : 'https://st2.depositphotos.com/9447932/47520/v/450/depositphotos_475203180-stock-illustration-cow-vector-illustration-flat-style.jpg'"
            alt="User Image">
        </div>

        <section class="user-info">
          <h3>{{ user.username ? user?.username  : ""}}</h3>
          <p>{{ user.isOnline ? 'En línea' : 'Desconectado' }}</p>
        </section>

        <section class="user-meta">
          <span
            class="status-dot"
            [ngClass]="user.isOnline ? 'online' : 'offline'"
            title="{{ user.isOnline ? 'En línea' : 'Desconectado' }}">
          </span>
</section>
      </div>
    } @empty {
      <p>No hay usuarios registrados.</p>
    }
  </div>
</div>
