:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.chat-page {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  overflow: hidden;
}

app-user-list {
  flex: 1;
  border-right: 1px solid #e1e1e1;
  background-color: #ffffff;
  overflow-y: auto;
}

.chat-page-container{
  display: flex;
  flex: 4;
}

.chat-info {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
}

@media screen and (max-width: 1200px) {
  app-user-list{
    flex: 2;
  }

  .chat-page-container{
    display: flex;
    flex: 3;
  }
}

@media screen and (max-width: 600px) {
  app-user-list{
    flex: 3;
  }

  .chat-page-container{
    display: flex;
    flex: 2;
  }
}

@media screen and (max-width: 500px) {
  app-user-list{
    flex: 4;
  }

  .chat-page-container{
    display: flex;
    flex: 1;
  }
}
