<section class="register-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <h1>CowChat</h1>
    <h2>Crear cuenta</h2>
    <p>Completa el formulario para registrarte</p>

    <div class="form-content">
      <input formControlName="username" type="text" placeholder="Nombre de usuario" />
      <div class="error" *ngIf="isInvalid('username')">
        El nombre de usuario es obligatorio (máx. 20 caracteres).
      </div>

      <input formControlName="email" type="email" placeholder="Correo" />
      <div class="error" *ngIf="isInvalid('email')">
        Ingresa un correo válido.
      </div>

      <input formControlName="password" type="password" placeholder="Contraseña" />
      <div class="error" *ngIf="isInvalid('password')">
        La contraseña debe tener entre 8 y 20 caracteres.
      </div>

      <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña" />
      <div class="error" *ngIf="form.errors?.['passwordsMismatch'] && (form.touched || form.dirty)">
        Las contraseñas no coinciden.
      </div>
    </div>

    <button type="submit" class="submit-botton">Registrarse</button>

    <p class="error" *ngIf="serverError">{{ serverError }}</p>

    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </form>
</section>
