.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border: 1px solid rgb(225, 225, 225);
  padding-bottom: 20px;
  border-radius: 15px;
}

.register-form p{
  margin: 10px;
  color: rgb(123, 123, 123);
  font-size: 14px;
}

.submit-botton {
  color: white;
  background: linear-gradient(to right, #6110ed, #ba92df);
  width: 80%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #af66f3;
  cursor: pointer;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: background 0.5s linear;
}

.submit-botton:hover{
  background: linear-gradient(to right, #7c3bed, #af66f3);
}

.form-content{
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.form-content input{
  border: 1px solid rgb(225, 225, 225);
  width: 80%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.form-content input:focus{
  border: 1px solid #7c3bed;
}

.register-form h1{
  background: linear-gradient(to right, #6e23ee, #a16bd4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:30px;
  font-size: 35px;
}

.error {
  color: #ff3b3b;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  width: 80%;
}
