 <div class="chat-container">
      <header class="chat-header">
        <button class="back-button" (click)="redirectAtGeneralChat()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="chat-img">
          <img
            [src]="receiverUser?.presignedUrl ? receiverUser?.presignedUrl : 'https://st2.depositphotos.com/9447932/47520/v/450/depositphotos_475203180-stock-illustration-cow-vector-illustration-flat-style.jpg'"
            alt="contact">
        </div>
        <h1>{{ receiverUser?.username }}</h1>
      </header>

      <div class="messages">
        <ng-container *ngFor="let msg of chat.messages">
          <div
            [ngClass]="{
              'message': true,
              'sent': msg.senderId === currentUserId,
              'received': msg.senderId !== currentUserId
            }">

            <p class="message-text">{{ msg.content }}</p>
            <span class="message-time">
              {{ msg.timestamp | date:'d MMM, HH:mm' }}
            </span>

          </div>
        </ng-container>
      </div>

      <div class="input-container">
        <input
          type="text"
          placeholder="Escribe un mensaje..."
          [(ngModel)]="newMessage"
          (keyup.enter)="sendMessage()">
      </div>
  </div>
